input[type='button'] {
  border-radius: 4px;
}
.btn_select {
  background: #007fa3;
  color: #fff;
  border: 1px solid #007fa3;
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

#displayMorningAppts,
#displayAfternoonAppts {
  width: 50%;
}
.btn_select:hover {
  outline: 3px solid #ffb81c;
  box-shadow: none;
  border: 1px solid #333;
  outline-offset: 0;
}
.btn_select.active {
  outline: 3px solid #ffb81c;
  box-shadow: none;
  border: 1px solid #333;
  outline-offset: 0;
}
@media screen and (min-width: 768px) {
  #apptTable td {
    display: table-cell;
    width: auto;
    float: none;
    clear: none;
  }
}
#apptTable td {
  border: none;
}
#chooseAppointments {
  margin-bottom: 24px;
  border: 1px solid #ddd;
  padding: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.bg-info.text {
  background-color: #3f51b5 !important;
}
.bg-info.text {
  color: #fff !important;
}

.text-info {
  color: #31708f;
}
.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    to(#093c73)
  );
  background-image: linear-gradient(to right, #3f51b5, #093c73);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.custom-control-label.isUrgent-label::before {
  display: none !important;
}
.react-calendar__month-view__days [type='button']:not(:disabled),
.react-calendar__month-view__days button:not(:disabled) {
  cursor: pointer;
  color: #3f51b5;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}
.react-calendar__tile--active {
  background: #3f51b5;
  color: #ffffff !important;
}
