.personal-information {
  margin-left: 2rem;
}
.personal-information .form-group {
  margin-right: 2rem;
  margin-left: 2rem;
}
.display-information .MuiAccordionDetails-root {
  display: inherit !important;
}
.personal-information .form-group > label {
  font-weight: 500 !important;
}
.display-information .MuiTypography-body1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.personal-information .form-group .form-control:disabled {
  background-color: #ffffff;
}
.display-information .MuiCollapse-wrapperInner {
  background-color: beige;
}
.mywizardcss {
  background-color: #004d99;
  color: #fff;
  border-radius: 25px;
}
fieldset {
  width: 500px;
  border: 4px ridge #ff0000;
  font-family: Arial, sans-serif;
  padding: lOpx;
}
legend {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bold;
}
label {
  padding-left: lOpx;
}
.header-display {
  margin-right: -50%;
  left: 50%;
}
.MuiAccordion-root.Mui-expanded {
  margin: 16px 0 !important;
}
.view-appointment-group .accordion-item {
  border-radius: 5%;
  border-left: 0.625rem solid #224b9f !important;
}
.view-appointment-group .MuiAccordion-rounded:first-child {
  border-top-left-radius: 5% !important;
  border-top-right-radius: 5% !important;
}
