.personal-information {
  margin-left: 2rem;
}
.personal-information .form-group {
  margin-right: 2rem;
  margin-left: 2rem;
}
.display-information .MuiAccordionDetails-root {
  display: inherit !important;
}
.personal-information .form-group > label {
  font-weight: 500 !important;
}
.display-information .MuiTypography-body1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.personal-information .form-group .form-control:disabled {
  background-color: #ffffff;
}
.display-information .MuiCollapse-wrapperInner {
  background-color: beige;
}
.mywizardcss {
  background-color: #004d99;
  color: #fff;
  margin-bottom: -20px;
  margin-top: -25px;
  border-radius: 25px;
}
fieldset {
  width: 500px;
  border: 4px ridge #ff0000;
  font-family: Arial, sans-serif;
  padding: lOpx;
}
legend {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bold;
}
label {
  padding-left: lOpx;
}
